*.pyc
*.Rhistory
*.sqlite3
*.sqlite3_
*.lnk
*.bat
.spyproject
.spyproject/*
**/_*.html
**/sandbox*
**/local*
**/*_local.py
**/*_local.md
**/*_local.txt
**/*nb130*
**/static/**/jquery*
**/static/**/bootstrap*
**/static/**/glyphicons*
tmp/**
*.docx
README.html