.panel-default {
    border-color: #bbb;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
* html .ui-autocomplete {
    height: 100px;
}

.confidence_assignment {
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 15%;
}

.ratinginfo + .tooltip > .tooltip-inner {
      background-color: #73AD21;
      color: #FFFFFF;
      border: 1px solid black;
      padding: 15px;
      font-size: 20px;
}

footer {
    padding: 15px;
    border-top: 1px;
    border-top-style: solid;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px
}


.subject {
    background-color: #AAAAAA;
    color: #FFFFFF;
}

#tbl_doc_metadata a, #tbl_doc_metadata a:hover {
  color: #333;
}

a .glyphicon {
  color: #868789;
}
a:hover .glyphicon {
  color: black;
}


.keywords .label {
  display: inline-block;
  font-size: small;
  background-color: white;
  color: #5d5d5d;
  border: 2px solid lightgray;
  margin-top: 2px;
}
.keywords .label-warning {
  border: 3px solid darkred;
}



.error {
  border-style: solid;
  border-color: #b08b8b;
  /* background-color: #b08b8b; */
}

#div_docrating {
  border-style: solid;
  border-width: 3px;
  border-color: #ccc;
  border-radius: 2%;
}

#tbl_ratings th {
    text-align: center;
}

/* custom radio buttons: */
.rating_radio {
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rating_radio input {
  display: none;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 30%;
    border-style: solid;
    border-width: 1px;
}

.rating_radio input:checked ~ .dv_skip, .rating_radio input:hover ~ .dv_skip { /* skip XXX */
    background-color: #2196F3;
}
.rating_radio input:checked ~ .dv_skip_2, .rating_radio input:hover ~ .dv_skip_2 { /* skip YYY */
    background-color: #2196F3;
}
.rating_radio input:checked ~ .dv_reject, .rating_radio input:hover ~ .dv_reject { /* reject */
    background-color: #f00;
}
.rating_radio input:checked ~ .dv_fair, .rating_radio input:hover ~ .dv_fair { /* fair */
    background-color: #f5d085;
}
.rating_radio input:checked ~ .dv_good, .rating_radio input:hover ~ .dv_good { /* good */
    background-color: #5cb85c;
}


.rating_radio input:checked ~ .sv_harmful { /* harmful */
    background-color: #f00;
}
.rating_radio:hover input ~ .sv_harmful {
    background-color: #f00;
}
.rating_radio input:checked ~ .sv_fair { /* fair */
    background-color: #f5d085;
}
.rating_radio:hover input ~ .sv_fair {
    background-color: #f5d085;
}
.rating_radio input:checked ~ .sv_helpful { /* helpful */
    background-color: #b4c365;
}
.rating_radio:hover input ~ .sv_helpful {
    background-color: #b4c365;
}
.rating_radio input:checked ~ .sv_reallyhelpful { /* really helpful */
    background-color: #5cb85c;
}
.rating_radio:hover input ~ .sv_reallyhelpful {
    background-color: #5cb85c;
}




/* ISSUE #47 */
.thsys-V {
    background-color: #99cc00;
}
.thsys-B {
    background-color: #80d4ff;
}
.thsys-W {
    background-color: #008080;
}
.thsys-N {
    background-color: #ff9900;
}
.thsys-P {
    background-color: #0077b3;
}
.thsys-A {
    background-color: #6600ff;
}
.thsys-G {
    background-color: #408000;
}

